@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
.btn, .footer-list li button, .large-btn, .nav-flex button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  height: 100vh;
  background: aliceblue;
}

.main-container {
  width: 1194px;
  height: 720px;
}

.nav {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: white;
  max-height: 48px;
}

.nav-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.nav-flex button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 4px 0;
}
.nav-flex button img {
  height: 100%;
}

.nav-logo-img {
  width: 32px;
  height: 32px;
}

.nav-logo-name {
  font-weight: 700;
  font-size: 1rem;
}

.notice-badge {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  vertical-align: middle;
  font-weight: 700;
  background-color: #fc4c4e;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-section {
  position: relative;
  width: 100%;
  height: calc(100% - 48px);
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/bg_illust.svg") center center/cover no-repeat;
}

.bg_giftbox {
  position: absolute;
  bottom: 21px;
  right: 101px;
  width: 240px;
  height: 180px;
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/giftbox.svg") center center/contain no-repeat;
}

.section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  justify-content: space-between;
}

.section-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  padding: 11px 16px;
  border-radius: 48px;
  background: white;
  gap: 13px;
}
.section-count p {
  font-size: 1.125rem;
}

.section-time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 8px;
}
.section-time p {
  font-size: 0.875rem;
  line-height: 1.5;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.section-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-btn {
  position: relative;
  width: 176px;
  height: 176px;
  background: white;
  border-radius: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  gap: 8px;
}
.large-btn img {
  width: 64px;
  height: 64px;
}
.large-btn h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.large-btn-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 40px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
  background: #299282;
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  border-radius: 50px;
}

.section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 95px;
  border-radius: 24px 24px 0 0;
  background-color: #2698e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-list li button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 8px;
  font-size: 1rem;
}

.footer-icon-box {
  width: 40px;
  height: 32px;
}
.footer-icon-box img {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
