@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// variables
$textColor: #222;
$redColor: #fc4c4e;
$basicSize: 1rem;
$largeSize: 1.5rem;
$smallSize: 0.875rem;
$mediumSize: 1.125rem;

// basic setting
body {
  font-family: "Noto Sans KR", sans-serif;
  color: $textColor;
}

.main-container {
  width: 100%;
  height: 100vh;
}
// nav 스타일링
.nav {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  background: white;
}

.nav-flex {
  display: flex;
  gap: 8px;
  align-items: center;
  button {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px 0;
    background: transparent;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
}

.nav-logo-img {
  width: 32px;
  height: 32px;
}
.nav-logo-name {
  font-weight: 700;
  font-size: $basicSize;
}

.notice-badge {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 700;
  background-color: $redColor;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
}
// section 스타일링
.bg-section {
  width: 100%;
  height: 100%;
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/bg_illust.svg")
    center center/cover no-repeat;
}
