@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
.icon {
  width: 32px;
  height: 32px;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: white;
  max-height: 48px;
}
.nav__name {
  font-weight: 700;
  font-size: 1rem;
}
.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 4px 0;
}
.nav__btn .icon {
  height: 100%;
}

.badge {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  vertical-align: middle;
  font-weight: 700;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
.badge--notice {
  background-color: #fc4c4e;
  position: absolute;
  top: 0;
  right: 0;
}

.section__top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  justify-content: space-between;
}
.section__count {
  margin-top: 21px;
  padding: 11px 16px;
  border-radius: 48px;
  background: white;
  gap: 13px;
}
.section__count--text {
  font-size: 1.125rem;
}
.section__time {
  margin-top: 32px;
}
.section__time--text {
  font-size: 0.875rem;
  line-height: 1.5;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.section__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__charactor {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 400px;
}
.section__charactor img,
.section__charactor .kangchi-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.section__charactor .floor {
  bottom: 0;
}
.section__charactor .kangchi {
  bottom: 20%;
}
.section__charactor .kangchi-name {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  z-index: 10;
  padding: 8px 16px;
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}

.speech-bubble {
  margin-top: 10px;
  position: relative;
  background: white;
  max-width: 280px;
  border-radius: 4px;
}
.speech-bubble--text {
  padding: 8px;
  font-size: 1rem;
  line-height: 1.5;
}
.speech-bubble :after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -8px;
  margin-bottom: -8px;
}

.btn--lg {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 176px;
  height: 176px;
  background: white;
  border-radius: 32px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  gap: 8px;
}
.btn--lg img {
  width: 64px;
  height: 64px;
}
.btn--lg--text {
  font-size: 1.5rem;
  font-weight: 700;
}
.btn--lg .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 40px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
  background: #299282;
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
  border-radius: 50px;
}

.section__bg {
  position: relative;
  width: 100%;
  height: calc(100% - 48px);
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/bg_illust.svg") center center/cover no-repeat;
}
.section__bg--giftbox {
  position: absolute;
  bottom: 21px;
  right: 101px;
  width: 240px;
  height: 180px;
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/giftbox.svg") center center/contain no-repeat;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
body,
html {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.4px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: 1rem;
  height: 100vh;
  background: aliceblue;
}

.main-container {
  width: 1194px;
  height: 720px;
}

.section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 95px;
  border-radius: 24px 24px 0 0;
  background-color: #2698e8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-list li button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  color: white;
  gap: 8px;
  font-size: 1rem;
}

.footer-icon-box {
  width: 40px;
  height: 32px;
}
.footer-icon-box img {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
