@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// variables
$textColor: #222;
$redColor: #fc4c4e;
$primaryColor: #2698e8;
$badgeColor: #299282;
$boxShadow1: 0 0 40px rgba(0, 0, 0, 0.25);
$boxShadow2: 0 4px 30px rgba(0, 0, 0, 0.25);
$basicSize: 1rem;
$largeSize: 1.5rem;
$smallSize: 0.875rem;
$mediumSize: 1.125rem;

// mixin
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// default style
.btn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

// basic setting
body {
  font-family: "Noto Sans KR", sans-serif;
  @include flexCenter();
  color: $textColor;
  height: 100vh;
  background: aliceblue;
}

.main-container {
  width: 1194px;
  height: 720px;
}
// nav style
.nav {
  padding: 8px 24px;
  @include flexCenter();
  justify-content: space-between;
  background: white;
  max-height: 48px;
}

.nav-flex {
  @include flexCenter();

  gap: 8px;

  button {
    @include flexCenter();
    @extend .btn;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 4px 0;
    img {
      height: 100%;
    }
  }
}

.nav-logo-img {
  width: 32px;
  height: 32px;
}
.nav-logo-name {
  font-weight: 700;
  font-size: $basicSize;
}

.notice-badge {
  color: white;
  @include flexCenter();
  font-size: 8px;
  vertical-align: middle;
  font-weight: 700;
  background-color: $redColor;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

// section style
.bg-section {
  position: relative;
  width: 100%;
  height: calc(100% - 48px);
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/bg_illust.svg")
    center center/cover no-repeat;
}
.bg_giftbox {
  position: absolute;
  bottom: 21px;
  right: 101px;
  width: 240px;
  height: 180px;
  background: url("https://seraleedev.github.io/maeil-publishing-test/img/giftbox.svg")
    center center/contain no-repeat;
}
// section-top
.section-top {
  @include flexCenter();
  padding: 0px 32px;
  justify-content: space-between;
}

.section-count {
  @include flexCenter();
  margin-top: 21px;
  padding: 11px 16px;
  border-radius: 48px;
  background: white;
  gap: 13px;
  p {
    font-size: $mediumSize;
  }
}

.section-time {
  @include flexCenter();
  margin-top: 32px;
  gap: 8px;
  p {
    font-size: $smallSize;
    line-height: 1.5;
    background: white;
    padding: 8px 16px;
    border-radius: 8px;
  }
}
// section-middle
.section-middle {
  @include flexCenter();
}
.large-btn {
  @extend .btn;
  position: relative;
  width: 176px;
  height: 176px;
  background: white;
  border-radius: 32px;
  box-shadow: $boxShadow2;
  gap: 8px;
  img {
    width: 64px;
    height: 64px;
  }
  h2 {
    font-size: $largeSize;
    font-weight: 700;
  }
}

.large-btn-badge {
  @include flexCenter();
  width: 64px;
  height: 40px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
  background: $badgeColor;
  font-weight: 700;
  color: white;
  font-size: $largeSize;
  border-radius: 50px;
}
.section-greeting {
  @include flexCenter();
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 400px;
  img,
  .kangchi-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .floor {
    bottom: 0;
  }
  .kangchi {
    bottom: 20%;
  }
  .kangchi-name {
    @include flexCenter();
    bottom: 50px;
    z-index: 10;
    padding: 8px 16px;
    font-size: $smallSize;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
  }

  .charactor-bubble {
    margin-top: 10px;
    position: relative;
    background: white;
    max-width: 280px;
    border-radius: 4px;
    p {
      padding: 8px;
      font-size: $basicSize;
      line-height: 1.5;
    }
    :after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: white;
      border-bottom: 0;
      margin-left: -8px;
      margin-bottom: -8px;
    }
  }
}

// section-bottom
.section-bottom {
  @include flexCenter();
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-list-container {
  @include flexCenter();
  width: 375px;
  height: 95px;
  border-radius: 24px 24px 0 0;
  background-color: $primaryColor;
  box-shadow: $boxShadow1;
}
.footer-list {
  @include flexCenter();
  gap: 24px;
  li {
    button {
      @include flexCenter();
      @extend .btn;
      flex-direction: column;
      color: white;
      gap: 8px;
      font-size: $basicSize;
    }
  }
}

.footer-icon-box {
  width: 40px;
  height: 32px;
  img {
    height: 100%;
  }
}
