// mixin
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-default() {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

// common class
.main-container {
  width: 1194px;
  height: 720px;
}

.icon {
  width: 32px;
  height: 32px;
}

.group {
  @include flex-center();
  gap: 8px;
}
