// variables
$color-text: #222;
$color-red: #fc4c4e;
$color-primary: #2698e8;
$color-green: #299282;

$shadow-blur-40: 0 0 40px rgba(0, 0, 0, 0.25);
$shadow-blur-30: 0 4px 30px rgba(0, 0, 0, 0.25);

$font-size-basic: 1rem;
$font-size-lg: 1.5rem;
$font-size-md: 1.125rem;
$font-size-sm: 0.875rem;
