@use "../utils/mixins.scss" as m;
@use "../utils/variables.scss" as v;

// article (section-middle)
.section {
  &__middle {
    @include m.flex-center();
  }

  &__charactor {
    @include m.flex-center();
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 400px;
    img,
    .kangchi-name {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    .floor {
      bottom: 0;
    }
    .kangchi {
      bottom: 20%;
    }
    .kangchi-name {
      @include m.flex-center();
      bottom: 50px;
      z-index: 10;
      padding: 8px 16px;
      font-size: v.$font-size-sm;
      color: white;
      font-weight: 700;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

.speech-bubble {
  margin-top: 10px;
  position: relative;
  background: white;
  max-width: 280px;
  border-radius: 4px;
  &--text {
    padding: 8px;
    font-size: v.$font-size-basic;
    line-height: 1.5;
  }

  :after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -8px;
  }
}

.btn {
  &--lg {
    @include m.btn-default();
    position: relative;
    width: 176px;
    height: 176px;
    background: white;
    border-radius: 32px;
    box-shadow: v.$shadow-blur-30;
    gap: 8px;
    img {
      width: 64px;
      height: 64px;
    }
    &--text {
      font-size: v.$font-size-lg;
      font-weight: 700;
    }

    .badge {
      @include m.flex-center();
      width: 64px;
      height: 40px;
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translate(-50%);
      background: v.$color-green;
      font-weight: 700;
      color: white;
      font-size: v.$font-size-lg;
      border-radius: 50px;
    }
  }
}
