@use "../utils/mixins.scss" as m;
@use "../utils/variables.scss" as *;

// aside(section-top)
.section {
  &__top {
    @include m.flex-center();
    padding: 0px 32px;
    justify-content: space-between;
  }

  &__count {
    margin-top: 21px;
    padding: 11px 16px;
    border-radius: 48px;
    background: white;
    gap: 13px;
    &--text {
      font-size: $font-size-md;
    }
  }

  &__time {
    margin-top: 32px;
    &--text {
      font-size: $font-size-sm;
      line-height: 1.5;
      background: white;
      padding: 8px 16px;
      border-radius: 8px;
    }
  }
}
