@use "../utils/mixins" as m;
@use "../utils/variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// basic setting
*,
body,
html {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.4px;
}

body {
  @include m.flex-center();
  color: v.$font-size-basic;
  height: 100vh;
  background: aliceblue;
}
